# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Create path
path = r'C:\Users\opetr\Desktop\PPP Loans'

In [3]:
df = pd.read_csv(os.path.join(path, '2. Data', '1. Unprepared Data', 'public_150k_plus_230101.csv'), index_col = False)

# 03. Descriptive analysis

In [4]:
df.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021

In [5]:
df.columns

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')

In [6]:
df.shape

(968531, 53)

In [7]:
df.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,9.685310e+05,968531.000000,968531.000000,968531.0,9.685310e+05,9.685310e+05,9.684840e+05,968531.000000,968530.000000,961903.000000,3.393770e+05,9.666990e+05,4.618300e+04,9.953300e+04,2.285500e+04,5.744600e+04,3.171700e+04,968531.000000,9.388850e+05
mean,5.427137e+09,571.519065,36.377761,100.0,5.322537e+05,5.306221e+05,1.515947e+01,108106.652551,51.886148,511805.521357,1.492980e+04,5.148787e+05,4.815543e+04,5.619529e+04,6.897797e+03,4.686043e+04,1.435866e+04,107644.444761,5.285127e+05
std,2.551313e+09,263.024816,17.291796,0.0,7.442514e+05,7.378871e+05,4.109778e+03,133018.400599,67.550965,181178.016548,8.493622e+04,7.140568e+05,1.590929e+05,1.113755e+05,6.214069e+04,1.029112e+05,5.549347e+04,134878.837316,7.315001e+05
min,1.000007e+09,101.000000,0.000000,100.0,0.000000e+00,1.500000e+05,0.000000e+00,20.000000,0.000000,111110.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,20.000000,1.000000e-02
25%,3.271108e+09,373.000000,24.000000,100.0,2.002000e+05,2.004000e+05,0.000000e+00,29805.000000,18.000000,336612.000000,1.000000e+00,1.956000e+05,0.000000e+00,1.352500e+04,0.000000e+00,8.000000e+03,0.000000e+00,29805.000000,2.008463e+05
50%,5.400677e+09,515.000000,24.000000,100.0,2.951770e+05,2.950000e+05,0.000000e+00,56102.000000,30.000000,541211.000000,1.000000e+00,2.870793e+05,1.000000e+04,2.887300e+04,0.000000e+00,1.944000e+04,5.000000e+02,56102.000000,2.951752e+05
75%,7.546303e+09,811.000000,60.000000,100.0,5.402000e+05,5.393843e+05,0.000000e+00,117436.000000,54.000000,623110.000000,4.500000e+03,5.246035e+05,4.025550e+04,5.625000e+04,0.000000e+00,4.400000e+04,9.908000e+03,112407.000000,5.399421e+05
max,9.999007e+09,1094.000000,180.000000,100.0,1.000000e+07,1.000000e+07,2.400000e+06,538160.000000,500.000000,999990.000000,1.000000e+07,1.000000e+07,1.000000e+07,5.518278e+06,2.951590e+06,3.880000e+06,2.497617e+06,533479.000000,1.026528e+07

In [8]:
df.dtypes

LoanNumber                       int64
DateApproved                    object
SBAOfficeCode                    int64
ProcessingMethod                object
BorrowerName                    object
BorrowerAddress                 object
BorrowerCity                    object
BorrowerState                   object
BorrowerZip                     object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
SBAGuarantyPercentage            int64
InitialApprovalAmount          float64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
ServicingLenderAddress          object
ServicingLenderCity             object
ServicingLenderState            object
ServicingLenderZip              object
RuralUrbanIndicator             object
HubzoneIndicator                object
LMIIndicator                    object
BusinessAgeDescription          object
ProjectCity                     object
ProjectCountyName               object
ProjectState                    object
ProjectZip                      object
CD                              object
JobsReported                   float64
NAICSCode                      float64
Race                            object
Ethnicity                       object
UTILITIES_PROCEED              float64
PAYROLL_PROCEED                float64
MORTGAGE_INTEREST_PROCEED      float64
RENT_PROCEED                   float64
REFINANCE_EIDL_PROCEED         float64
HEALTH_CARE_PROCEED            float64
DEBT_INTEREST_PROCEED          float64
BusinessType                    object
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
Gender                          object
Veteran                         object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
dtype: object

# 04. Data wrangling

In [9]:
# Permanently dropping columns
df = df.drop(columns = ['SBAOfficeCode', 'BorrowerName', 'BorrowerAddress', 'SBAGuarantyPercentage', 'UndisbursedAmount', 'FranchiseName', 'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState', 'ServicingLenderZip', 'HubzoneIndicator', 'LMIIndicator', 'ProjectCity', 'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED', 'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED', 'REFINANCE_EIDL_PROCEED',  'HEALTH_CARE_PROCEED', 'DEBT_INTEREST_PROCEED', 'OriginatingLenderCity', 'OriginatingLenderState', 'Gender', 'Veteran'])

In [10]:
#Change data type to date
df['DateApproved'] = df['DateApproved'].astype('datetime64')

In [11]:
#Change data type to date
df['LoanStatusDate'] = df['LoanStatusDate'].astype('datetime64')

In [12]:
#Change data type to date
df['ForgivenessDate'] = df['ForgivenessDate'].astype('datetime64')

In [13]:
#Verify that changes were executed
df.dtypes

LoanNumber                              int64
DateApproved                   datetime64[ns]
ProcessingMethod                       object
BorrowerCity                           object
BorrowerState                          object
BorrowerZip                            object
LoanStatusDate                 datetime64[ns]
LoanStatus                             object
Term                                    int64
InitialApprovalAmount                 float64
CurrentApprovalAmount                 float64
ServicingLenderLocationID               int64
ServicingLenderName                    object
RuralUrbanIndicator                    object
BusinessAgeDescription                 object
JobsReported                          float64
BusinessType                           object
OriginatingLenderLocationID             int64
OriginatingLender                      object
NonProfit                              object
ForgivenessAmount                     float64
ForgivenessDate                datetime64[ns]
dtype: object

In [14]:
# Find missing values
df['BorrowerState'].value_counts(dropna = False)

CA     130614
TX      76184
NY      74109
FL      60036
IL      40814
PA      38534
OH      32646
NJ      32536
MI      29801
MA      27473
GA      25832
WA      23755
VA      23269
NC      22828
CO      19743
MN      19728
MD      18978
WI      17353
IN      16600
MO      16350
TN      15869
AZ      15794
LA      13668
OR      13456
CT      12892
AL      10912
SC      10742
OK       9997
UT       9294
KY       9178
IA       8295
NV       8261
KS       8202
AR       5857
NE       5804
MS       5502
NH       5078
HI       4980
NM       4484
ID       4416
DC       4398
ME       4185
RI       3792
WV       3365
ND       3222
MT       3144
DE       2996
PR       2952
SD       2695
AK       2662
VT       2269
WY       2139
GU        443
VI        290
MP         82
AS         20
NaN        13
Name: BorrowerState, dtype: int64

In [15]:
# Permanently removed the missing values in the BorrowerState column
df = df[df['BorrowerState'].isnull() == False]

In [16]:
#Verify that change was executed
df['BorrowerState'].value_counts(dropna = False)

CA    130614
TX     76184
NY     74109
FL     60036
IL     40814
PA     38534
OH     32646
NJ     32536
MI     29801
MA     27473
GA     25832
WA     23755
VA     23269
NC     22828
CO     19743
MN     19728
MD     18978
WI     17353
IN     16600
MO     16350
TN     15869
AZ     15794
LA     13668
OR     13456
CT     12892
AL     10912
SC     10742
OK      9997
UT      9294
KY      9178
IA      8295
NV      8261
KS      8202
AR      5857
NE      5804
MS      5502
NH      5078
HI      4980
NM      4484
ID      4416
DC      4398
ME      4185
RI      3792
WV      3365
ND      3222
MT      3144
DE      2996
PR      2952
SD      2695
AK      2662
VT      2269
WY      2139
GU       443
VI       290
MP        82
AS        20
Name: BorrowerState, dtype: int64

In [17]:
#Verify new df shape
df.shape

(968518, 22)

In [18]:
# Find missing values
df['BusinessAgeDescription'].value_counts(dropna = False)

Existing or more than 2 years old         861912
New Business or 2 years or less            54849
Unanswered                                 51044
Change of Ownership                          422
Startup, Loan Funds will Open Business       290
NaN                                            1
Name: BusinessAgeDescription, dtype: int64

In [19]:
# Find missing values
df['BusinessType'].value_counts(dropna = False)

Corporation                            418339
Limited  Liability Company(LLC)        261304
Subchapter S Corporation               174828
Non-Profit Organization                 55898
Partnership                             18166
Limited Liability Partnership           12728
Sole Proprietorship                     12280
Professional Association                 6279
Cooperative                              2436
501(c)3 â€“ Non Profit                     1767
Non-Profit Childcare Center               900
501(c)6 â€“ Non Profit Membership           762
NaN                                       719
Employee Stock Ownership Plan(ESOP)       643
Self-Employed Individuals                 494
Trust                                     397
Housing Co-op                             152
Joint Venture                             125
Independent Contractors                   112
Single Member LLC                          78
Tribal Concerns                            64
Tenant in Common                           30
501(c) â€“ Non Profit except 3,4,6,          10
Rollover as Business Start-Ups (ROB         3
501(c)19 â€“ Non Profit Veterans              2
Qualified Joint-Venture (spouses)           2
Name: BusinessType, dtype: int64

In [20]:
# Find missing values
df['ForgivenessAmount'].value_counts(dropna = False)

NaN          29646
150830.14       29
150735.62       26
150793.15       25
151093.15       25
             ...
347860.97        1
318776.87        1
347843.93        1
337191.56        1
152162.50        1
Name: ForgivenessAmount, Length: 890477, dtype: int64

In [21]:
# Find count of PPS (second draw loans)
df['ProcessingMethod'].value_counts(dropna = False)

PPP    676850
PPS    291668
Name: ProcessingMethod, dtype: int64

# 05. Export

In [22]:
# Export clean dataframe
df.to_csv(os.path.join(path, '2. Data', '2. Prepared Data', 'clean_data.csv'))